
@{
    Layout = null;
    ViewBag.Title = "bg";
}

<!DOCTYPE html>
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<html>
<body>
    <div class="row" >
        <div class="col-12 col-sm-6 col-md-8" style="background-color:red">Content 1</div>
        <div class="col-6 col-md-4" style="background-color:yellow">Content 2</div>
    </div>
</body>
</html>


